.start {
  margin-top: 170px;
  margin-left: 235px;
  display: flex;
  flex-direction: row;
}
.start_txt{
  margin-left: 10px;
  margin-top: 10px;
  color: #988e9f;
  font-size: 18px;
font-weight: 100;
font-family: 'Charmonman', cursive;

}
.start_intro{
  font-size: 38px;
  font-weight: 700;
  color: white;
}
.start_name{
  color: #5918df;
}
.start_key1{
  font-family: 'Stalinist One', cursive;
}
.start_key2{
  font-family: 'Major Mono Display', monospace;
}
.start_para{
  margin-top: 10px;
  color: #988e9f;
  font-size: 25px;
}

.start_circle{
  border-radius: 100%;
  height: 10px;
  width: 10px;
  color: #5918df;
  background-color: #5918df;
  margin-left: -4px;
}
.star_vl{
  border-left: 2px solid #5918df;
  height: 470px;
  width: 1px;
}


@media screen and (max-width: 817px) {
  .start {
margin-left: 20px;
  }
}